<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--todo:https://developer.android.com/training/monitoring-device-state/connectivity-status-type-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".App"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_app"
        android:requestLegacyExternalStorage="true"
        android:extractNativeLibs="true"
        android:supportsRtl="true"
        android:allowBackup="false"
        android:theme="@style/AppTheme">
        <activity  android:exported="false"
            android:name="ru.smartro.worknote.presentation.ActMain"
            android:screenOrientation="portrait" />

        <!--
        <category android:name="android.intent.category.HOME"/>
        <category android:name="android.intent.category.DEFAULT"/>
        -->
        <activity  android:exported="true"
            android:name="ru.smartro.worknote.presentation.ActStart"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity  android:exported="true"
            android:name="ru.smartro.worknote.presentation.AXChecklist"
            android:screenOrientation="portrait"
            >
        </activity>
        <!-- Voice Recognition Samples -->
        <!--отказ-->
        <!--<activity android:name=".app.VoiceRecognition" android:label="@string/voice_recognition">-->
        <!--    <intent-filter>-->
        <!--        <action android:name="android.intent.action.MAIN" />-->
        <!--        <category android:name="android.intent.category.SAMPLE_CODE" />-->
        <!--    </intent-filter>-->
        <!--</activity>-->
        <!-- FilterProvider para conseguirmos compartilhar fotos com outros apps -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:exported="true"
            android:enabled="true"
            android:name=".presentation.andPOintD.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service
            android:directBootAware="true"
            android:name=".presentation.andPOintD.AirplanemodeIntentService"
            android:enabled="true" />

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://f52d405267944551b65123facccf3d2c@sentry.soyuz317.ru/17" />

    </application>

</manifest>