<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.smartro.worknote">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".App"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_app"
        android:extractNativeLibs="true"
        android:supportsRtl="true"
        android:allowBackup="false"
        android:theme="@style/AppTheme">
        <activity  android:exported="false"
            android:name="ru.smartro.worknote.presentation.ac.MainAct"
            android:screenOrientation="portrait" />


        <activity  android:exported="true"
            android:name="ru.smartro.worknote.presentation.ac.StartAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity  android:exported="true"
            android:name="ru.smartro.worknote.presentation.ac.XChecklistAct"
            android:screenOrientation="portrait"
            >
        </activity>

        <!-- FilterProvider para conseguirmos compartilhar fotos com outros apps -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://f52d405267944551b65123facccf3d2c@sentry.soyuz317.ru/17" />

    </application>

</manifest>